h1{
	background:url(../img/twitter.jpg);
	color: red;
	text-indent: -9999px;
	width: 200px;
	height: 100px;

}
body{
	margin: 0px;
}
h2{
	color: red;
}
.box{

	color: red;
	margin: auto;
	height: 100px;
	width: 100px;
	background: red;
	position: relative;
	right:20px;
}