header h1{
	font-family: 'Lobster', cursive;
	font-size: 50px
}
header ul{
	float:right; width:600px;
}
#container1{
	height:180px; background: gray;
}
#container1 h1,h4{
		font-family: 'Maven Pro', sans-serif;

}

#pics {
	width:100%;
}

#mylist{
	list-style: none; padding-left: 0;
}

#sec1{
	background: #E2E0E0;
}
#sec1-1{
	background: #D9D0CA;
}
#sec3{
	background: E1E1E1;
}